// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$main-color: hsl(250, 69%, 61%);
$background-color: hsl(250, 8%, 15%);

$body-font-family: 'Roboto', sans-serif !default;
$logo-font-familt: 'Dancing Script', cursive;